* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #010718;
  overflow: hidden;
}
.container .text {
  position: relative;
  color: #4070f4;
  font-size: 30px;
  font-weight: 600;
}
.container .first_text {
  color: #fff;
}
.text.second_text {
}
.text.second_text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
